# Ignorar bases de datos SQLite
*.db
*.db-shm
*.db-wal
*.sqlite3


# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Configuración específica del entorno
*.env
.env.*

# Archivos de sistemas operativos
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos temporales creados por editores
*.swp
*.swo
*.bak

# Carpetas de entornos virtuales
venv/
env/

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-workspace
